[submodule "third_party/c-toxcore"]
	path = third_party/c-toxcore
	url = https://github.com/TokTok/c-toxcore.git
[submodule "third_party/SQLCipher"]
	path = third_party/SQLCipher
	url = https://github.com/sqlcipher/sqlcipher.git
[submodule "third_party/SQLiteCpp"]
	path = third_party/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
